<h1>Details for {{ code }}</h1>
<p>Start Date: {{ startDate }}</p>
<p>End Date: {{ endDate }}</p>
<p>Analysis Factor: {{ analysisFactor }}</p>
<p>Clients:</p>
<ul>
  <li *ngFor="let client of clients">{{ client }}</li>
</ul>

<ul>
  <li *ngFor="let client of clientsIds">{{ client }}</li>
</ul>

<h2>Matching Products with Warehouse Quantity and Sales History:</h2>
<div *ngFor="let item of filteredProducts">
  <h3>{{ item.product.code }}</h3>
  <p>Current Quantity: {{ item.warehouseQuantity }}</p>
</div>

<h2>Combined Warehouse Quantity History:</h2>
<div class="chart-container">
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="'vivid'"
    [results]="combinedWarehouseChartData"
    [legend]="legend"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [timeline]="timeline"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel">
  </ngx-charts-line-chart>
</div>

<h2>Combined Sales History:</h2>
<div class="chart-container">
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="'cool'"
    [results]="combinedSalesChartData"
    [legend]="legend"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [timeline]="timeline"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel">
  </ngx-charts-line-chart>
</div>


