<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alerts Component</title>
  <link rel="stylesheet" href="detail.component.css">
</head>
<body>

<button class="close-button" (click)="closePage()">Zamknij</button>

<div class="info-table">
  <table>
    <thead>
    <tr>
      <th colspan="2">{{ code }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Data początkowa</th>
      <td>{{ startDate }}</td>
    </tr>
    <tr>
      <th>Data końcowa</th>
      <td>{{ endDate }}</td>
    </tr>
    <tr>
      <th>Współczynnik sprzedaży</th>
      <td>{{ analysisFactor }}</td>
    </tr>
    <tr>
      <th>Wybrani kontrahenci</th>
      <td>
        <ul>
          <li *ngFor="let client of clients">{{ client }}</li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="product-table">
  <table>
    <thead>
    <tr>
      <th>Rozmiar</th>
      <th>Ilość na stanie</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of filteredProducts">
      <td>{{ item.product.code }}</td>
      <td>{{ item.warehouseQuantity }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="quantity_table">
  <div class="little_header">
<h2>Historia stanów magazynowych:</h2>
    </div>
<div class="chart-container">
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="'vivid'"
    [results]="combinedWarehouseChartData"
    [legend]="legend"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [timeline]="timeline"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel">
  </ngx-charts-line-chart>
</div>
</div>

<div class="sales_table">
  <div class="little_header">
<h2>Historia sprzedaży:</h2>
  </div>
<div class="chart-container">
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="'cool'"
    [results]="combinedSalesChartData"
    [legend]="legend"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [timeline]="timeline"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel">
  </ngx-charts-line-chart>
</div>
</div>

<div class="prediction_table">
  <div class="little_header">
<h2>Predykcja wyczerpania towaru:</h2>
  </div>
<div class="chart-container">
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="'cool'"
    [results]="depletionPredictionChartData"
    [legend]="legend"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [timeline]="timeline"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel">
  </ngx-charts-line-chart>
</div>
</div>
</body>
