body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ogólne style dla tabel */
.info-table,
.product-table {
  border: 3px solid black;
  width: 30%;
  margin: 20px auto 20px;
  text-align: center;
}

.info-table table,
.product-table table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th,
.info-table td,
.product-table th,
.product-table td {
  border: 1px solid #a8a8a8;
  padding: 8px;
}

.product-table th {
  background-color: #D9D9D9;
}

.info-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.info-table thead th {
  background-color: #d9d9d9;
  font-size: 1.2em;
  text-align: center;
}

.product-table th,
.product-table td {
  text-align: left;
}

/* Style dla wykresów */
.chart-container {
  display: flex;
  justify-content: center; /* Wyśrodkuj wykresy */
  margin-bottom: 20px;
  margin-top: 20px; /* Dodaj margines górny */
}

.chart-wrapper {
  width: 80%; /* Szerokość kontenera wykresu */
  margin: 0 auto; /* Wyśrodkuj kontener wykresu */
  border: 3px solid black;
  padding: 20px;
  box-sizing: border-box; /* Uwzględnij padding i border w szerokości */
}

.chart-container ngx-charts-line-chart {
  flex: 1;
}

.chart-container .legend-container {
  flex-basis: 250px; /* Adjust this value to make the legend wider */
}

.chart-container ngx-charts-line-chart .chart .legend {
  width: 250px; /* Adjust this value to make the legend wider */
}

.quantity_table,
.sales_table,
.prediction_table {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  width: 50%;
  margin: 10px;
  height: 420px;
}

.little_header {
  background-color: #D9D9D9;
  border-bottom: 3px solid black;
  text-align: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px; /* Dodaj margines dolny */
}

.little_header h2 {
  margin: 0;
  font-size: 16px;
}

/* Style for close button */
.close-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #FF8D8D;
  color: #8A1A1A;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  z-index: 1000; /* Ensure it is on top */
}

.close-button:hover{
  background-color: #fb7474;
}

.kontrahenci{
  text-align: left;
}
