<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="bestsellers.component.css">
</head>
<body>
<div class="bestsellery">
  <div class ="dodawanie_bestsellerów">
    <input type="text" placeholder="Szukaj.." [(ngModel)]="searchTextProducts" (input)="filterProducts()">
    <div id="product-container" class="scrollable">
      <div class="product" *ngFor="let product of filteredProducts">
        <input type="checkbox" [id]="'product-' + product.code" name="product" [value]="product.code">
        <label [for]="'product-' + product.code">{{ product.code }}</label>
      </div>
    </div>
    <button class="add_delete_button">Dodaj zaznaczone</button>
  </div>


  <div class="usuwanie_bestsellerów">
    <input type="text" placeholder="Szukaj..">
    <button class="add_delete_button">Usuń zaznaczone</button>
  </div>
</div>

</body>
