<div class="header">
  <div class="header_buttons" *ngIf="isLoggedIn()">
    <button [ngClass]="{'active': activeComponent === 'analysis'}" (click)="switchComponent('analysis')">Analiza</button>
    <button [ngClass]="{'active': activeComponent === 'bestsellers'}" (click)="switchComponent('bestsellers')">Bestsellery</button>
    <button [ngClass]="{'active': activeComponent === 'alerts'}" (click)="switchComponent('alerts')">Alerty</button>
    <button *ngIf="isAdmin()" [ngClass]="{'active': activeComponent === 'admin-panel'}" (click)="switchComponent('admin-panel')">Admin</button>
  </div>
  <div class="header_buttons">
    <button *ngIf="isLoggedIn()" (click)="logOutButtonClicked()">Wyloguj</button>
  </div>
</div>
