<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="analysis.component.css">
</head>
<body>
<div class="analiza">
  <div class="lista_produktów">
    <p>Produkty:</p>
    <input type="text" placeholder="Szukaj.." [(ngModel)]="searchTextProducts" (input)="filterProducts()">
    <div id="product-container" class="scrollable">
      <div *ngFor="let product of filteredProducts">
        <input type="checkbox" [value]="product.code" [checked]="selectedProducts.includes(product.code)" (change)="onProductSelect(product.code, $event)">
        {{ product.code }}
      </div>
    </div>
  </div>
  <div class="analiza_datownik">
    <div class="datownik">
      <div class="data_początkowa">
        <p style="border: 2px solid #891818">Data początkowa:</p>
        <input type="date" [(ngModel)]="startDate">
      </div>
      <div class="data_końcowa">
        <p style="border: 2px solid #891818">Data końcowa:</p>
        <input type="date" id="endDate" [(ngModel)]="endDate" [max]="today">
      </div>
      <button (click)="onSubmit()">Zatwierdź</button>
    </div>
    <div class="analiza_panel">
      <div id="analysis-container" class="scrollable">
        <div class="analysed-product" *ngFor="let analysedModel of analysedModels">
          <p>Kod: {{ analysedModel.code }}</p>
          <p>Stan magazynowy: {{ analysedModel.warehouseQuantity }}</p>
          <p>Sprzedanych: {{ analysedModel.soldUnits }}</p>
          <p>Ocena analizy: {{ analysedModel.analysisFactor }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="lista_kontrahentów">
    <app-client-list></app-client-list>
  </div>
</div>
</body>
</html>
