body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  whitesmoke;
}

#login_box {
  width: 200px;
  padding: 10px;
  border: 1px solid #35424a;
  border-radius: 5px;
  background-color: #6d9db7;
  display: grid;
  justify-items: center;
}
#login_box p {
  text-align: center;
  margin-top: 0;
}

#login_box button{
  width: 100px;

}
.login_bar{
  margin-bottom: 20px;
}
