<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
<div class="header">
  <div class="header_buttons">
  <button>Analiza</button>
  <button>Best-sellery</button>
  <button>Alerty</button>
  </div>
  <div>
  <button>Ustawienia</button>
  </div>
</div>
<div class="analiza">
  <div class ="lista_produktów">
    <p>Produkty:</p>
    <input type="text" placeholder="Szukaj..">
  </div>
  <div class="analiza_datownik">
    <div class="datownik">
      <div class="data_początkowa">
        <p style="border: 2px solid #891818">Data początkowa:</p>
        <input type="date"/>
      </div>
        <div class="data_końcowa">
      <p style="border: 2px solid #891818">Data końcowa:</p>
      <input type="date"/>
        </div>
      <button>Zatwierdź</button>
    </div>
    <div class="analiza_panel">
      <p style="border: 2px solid #891818">ZNAK</p>
      <p style="border: 2px solid #891818">NAZWA</p>
      <p style="border: 2px solid #891818">STAN MAGAZYNOWY</p>
      <p style="border: 2px solid #891818">SPRZEDANYCH</p>
      <p style="border: 2px solid #891818">ZYSK</p>
      <p style="border: 2px solid #891818">WSPÓŁCZYNNIK SPRZEDAŻY</p>
    </div>
  </div>
  <div class="lista_kontrahentów">
    <p>Kontrahenci:</p>
    <input type="text" placeholder="Szukaj..">
  </div>
</div>
</body>
