body{
  margin: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  background-color: #93bbe6;
  padding: 10px;
}
button{
  background-color: #c9e3ff;
  border-color: #93bbe6;
}
.analiza{
  display: flex;
  justify-content: space-between;
  background-color: wheat;
}
.analiza_datownik{
  background-color: #b47575;
  width:70%;
}
.datownik{
  display: flex;
  justify-content: space-between;
}
.analiza_panel{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.data_końcowa, .data_początkowa{
  display: flex;
}
