<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="login.component.css">
</head>
<body>
<div class="login-container">
  <div class="little_header">
    <h2>WMB Trade</h2>
  </div>
  <form (ngSubmit)="onLoginButtonClicked()" #loginForm="ngForm">
    <div class="login-input">
      <input type="text" id="username" name="username" placeholder="Wprowadź login" [(ngModel)]="username" required>
    </div>
    <div class="login-input">
      <input type="password" id="password" name="password" placeholder="Wprowadź hasło" [(ngModel)]="password" required>
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</div>
</body>
</html>
