<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="alerts.component.css">
</head>
<body>
<div class="alerty">
  <div class="lista_alertów">
    <input type="text" placeholder="Szukaj.." [(ngModel)]="searchText" (input)="filterAlerts()">
    <div id="alert-container" class="scrollable">
      <div class="alert" *ngFor="let alert of filteredAlerts">
        <input type="checkbox" id="alert-{{alert.name}}" name="alert" [(ngModel)]="alert.selected">
        <label for="alert-{{alert.name}}">{{alert.name}}</label>
      </div>
    </div>
    <button class="delete_button" (click)="deleteSelectedAlerts()">Usuń zaznaczone</button>
    <button class="add_button">Stwórz nowy alert</button>
  </div>
  <div class="alert_modification">
    <div class="alert_input">
      <p>Nazwa alertu:</p>
      <input type="text" placeholder="CzapeczkiKubuś30DNI">
    </div>
    <div class="alert_input">
      <p>Znak produktu:</p>
      <input type="text" placeholder="ABN-3431/MOT">
    </div>
    <div class="alert_input">
      <p>Ilość graniczna:</p>
      <input type="text" placeholder="100">
    </div>
    <div class="alert_input">
      <p>Dni przed wyczerpaniem:</p>
      <input type="text" placeholder="45">
    </div>
    <div class="alert_input">
      <p>Czas do analizy:</p>
      <input type="text" placeholder="6">
      <p>miesięcy</p>
    </div>


  </div>
</div>
</body>
