<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="bestsellers.component.css">
</head>
<body>
<div class="bestsellery">
  <div class ="dodawanie_bestsellerów">
    <input type="text" placeholder="Szukaj..">
    <div id="product-container" class="scrollable">
      <div class="product">
        <input type="checkbox" id="product-1" name="product" value="1">
        <label for="product-1">Product 1</label>
      </div>
      <div class="product">
        <input type="checkbox" id="product-2" name="product" value="2">
        <label for="product-2">Product 2</label>
      </div>
      <div class="product">
        <input type="checkbox" id="product-3" name="product" value="3">
        <label for="product-3">Product 3</label>
      </div>
    </div>
    <button class="add_delete_button">Dodaj zaznaczone</button>
  </div>


  <div class="usuwanie_bestsellerów">
    <input type="text" placeholder="Szukaj..">
    <div id="product-container2" class="scrollable">
      <div class="product">
        <input type="checkbox" id="product-4" name="product" value="4">
        <label for="product-1">Product 4</label>
      </div>
      <div class="product">
        <input type="checkbox" id="product-5" name="product" value="5">
        <label for="product-2">Product 5</label>
      </div>
      <div class="product">
        <input type="checkbox" id="product-6" name="product" value="6">
        <label for="product-3">Product 6</label>
      </div>
    </div>
    <button class="add_delete_button">Usuń zaznaczone</button>
  </div>
</div>

</body>
