body{
  margin: 0;
}
button{
  background-color: #c9e3ff;
  border-color: #93bbe6;
}
.alerty{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.scrollable {
  height: 200px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
}
.lista_alertów{
  height: 300px;
  padding: 10px;
  margin-top: 25px;
  border: 3px solid #35424a;
  background-color: #93bbe6;
  accent-color: #ff7979
}
.add_button {
  background-color: #79ffac;
  border-color: #60fda1;
  border-radius: 5px;
}
.delete_button{
  background-color: #ff7979;
  border-color: #ff6565;
  border-radius: 5px;
}

.alert_modification{
  border: 3px solid #35424a;
  background-color: #93bbe6;
  height: 300px;
  padding: 10px;
  margin-top: 25px;
  display: grid;
  justify-content: space-between;
}
.alert_input{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.alert_input input{
  height: 18px;
}

#alert-container{
  border: 3px solid #35424a;
}
