<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="alerts.component.css">
</head>
<body>
<div class="alerty">
  <div class="lista_alertów">
    <input type="text" placeholder="Szukaj.." [(ngModel)]="searchText" (input)="filterAlerts()">
    <div id="alert-container" class="scrollable">
      <div class="alert" *ngFor="let alert of filteredAlerts">
        <input type="checkbox" id="alert-{{alert.name}}" name="alert" [(ngModel)]="alert.selected" (change)="alertBoxChecked()">
        <label for="alert-{{alert.name}}">{{alert.name}}</label>
      </div>
    </div>
    <button class="delete_button" (click)="deleteSelectedAlertsClicked()">Usuń zaznaczone</button>
  </div>
  <div class="alert_modification">
    <div class="alert_info">
      <p>Nazwa alertu:</p>
      <span *ngIf="selectedAlertForUpdate">{{ selectedAlertForUpdate.name }}</span>
    </div>
    <div class="alert_info">
      <p>Znak produktu:</p>
      <span *ngIf="selectedAlertForUpdate">{{ getProductCodes(selectedAlertForUpdate) }}</span>
    </div>
    <div class="alert_info">
      <p>Kontrahenci:</p>
      <span *ngIf="selectedAlertForUpdate">{{ getClientNames(selectedAlertForUpdate) }}</span>
    </div>
    <div class="alert_info">
      <p>Ilość graniczna:</p>
      <input type="text" *ngIf="selectedAlertForUpdate" [value]="selectedAlertForUpdate.criticalQuantity" #criticalQuantityForUpdate>
    </div>
    <div class="alert_info">
      <p>Dni przed wyczerpaniem:</p>
      <input type="text" *ngIf="selectedAlertForUpdate" [value]="selectedAlertForUpdate.leadTime" #leadTimeInDaysForUpdate>
    </div>
    <div class="alert_info">
      <p>Dni do analizy:</p>
      <input type="text" *ngIf="selectedAlertForUpdate" [value]="selectedAlertForUpdate.analysisPeriod" #analysisPeriodInDaysForUpdate>
    </div>
    <div class="updateAlertButton">
      <button (click)="updateAlertClicked()">Modyfikuj alert</button>
    </div>
  </div>
  <div class="alert_adding">
    <div class="alert_input">
      <p>Nazwa alertu:</p>
      <input type="text" placeholder="CzapeczkiKubuś30DNI" #alertNameInput>
    </div>
    <div class="alert_input">
      <p>Znak produktu:</p>
      <input type="text" placeholder="ABN-3431/MOT" #productCodeInput>
    </div>
    <div class="alert_input">
      <p>Ilość graniczna:</p>
      <input type="text" placeholder="100" #criticalQuantity>
    </div>
    <div class="alert_input">
      <p>Dni przed wyczerpaniem:</p>
      <input type="text" placeholder="45" #leadTimeInDays>
    </div>
    <div class="alert_input">
      <p>Czas do analizy:</p>
      <input type="text" placeholder="120" #analysisPeriodInDays>
      <p>dni</p>
    </div>
    <div>
      <button class="add_button" (click)="addNewAlertClicked()">Stwórz nowy alert</button>
    </div>
  </div>
  <div class="lista_kontrahentów">
    <app-client-list (selectedClientsChange)="onSelectedClientsChange($event)"></app-client-list>
    <app-client-list (clientsListChange)="onClientListChange($event)"></app-client-list>
  </div>
</div>
</body>
</html>
